/* STYLING FOR CHARTS */

.xchart {
    height: 400px;
    width: 100%;
}


/* STYLING FOR TABLES */
/* .fixed-table-toolbar {
    margin-bottom: 2%;
} */

/* .table {
    margin-bottom: 0;
} */

table th {
    text-align: center;
    vertical-align: middle !important;
}

.income-table td {
    padding: 8px 15px;
}

#date {
    text-align: center;
}

.selection {
    text-align: center;
}

.entry-label { 
    margin-right: 2%;
    margin-bottom: 0;
    padding: 7px 0;
}

textarea {
    border: 2px solid #e6e6e6 !important;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 2px;
    height: 250px;
    width: 100%;
    resize: none;
}

option {
    padding: 5px;
}