.totals {
    background: transparent;
}

.left-total {
    background: transparent;
}

.left-total, .right-total {
    display: flex;
}

.right-total {
    background: transparent;
}

.total-desc {
    display: grid;
    background: transparent;
    text-align: right;
    padding-right: 0;
}

.total-header {
    margin: 0;
}

.total-currency {
    margin: 0;
    color: grey;
}

.total-amount {
    margin: 0;
    padding-left: 2%;
}

.total-figure {
    margin: 0;
}

.essentials hr {
    margin: 0 10%;
    width: 80%;
}

.first-row {
    background: transparent;
    display: flex;
}

.second-row {
    background: transparent;
    display: flex;
}

.fixed-table-toolbar .bs-bars, .fixed-table-toolbar .search,
 .fixed-table-toolbar .columns {
    margin-top: 0px; 
    margin-bottom: 0px;
}

.btn {
    border-radius: 4px;
    border-color: rgb(204, 204, 204);
}

.sect-header {
    text-align: center;
}


/* Very small devices */
@media only screen and (max-width: 600px) {
    .totals {
        display: block;
        padding: 0;
    }

    .left-total {
        margin-bottom: 2%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .totals {
        display: block;
    }

    .left-total {
        margin-bottom: 1%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .totals {
        display: flex;
    }

    .left-total {
        margin-bottom: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}