.action-content {
    position: absolute;
    top: 0px;
    left: 105%;
    z-index: 100;
    display: block;
    padding: 20px;
    margin: 0% 0%;
    font-size: 1rem;
    color: black;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    background-clip: padding-box;
    -webkit-transition: all 0.30s ease 0s;
    transition: all 0.30s ease 0s;
    visibility: hidden;
    max-width: 60%;
    height: 100vh;
    opacity: 1;
    cursor: default;
    border-radius: 0px;
  }

  .error {
    text-align: center;
    color: crimson;
    font-weight: 700;
  }

  .success {
    text-align: center;
    color: green;
    font-weight: 700;
  }

  .content-inner {
      padding: 30% 5%;
  }

  .content-header h4 {
      margin: 0;
  }

  .content-inner a:hover, .down-liner a:hover 
  .content-inner a:active, .down-liner a:active {
      color:gold;
  }

  .content-header::after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 10%
  }

.content-form-elems {
    width: 100%;
    text-align: left;
    text-indent: 10px;
    line-height: 2;
    font-size: medium;
}

.elem-container {
  margin-bottom: 5%;
}

.fm_error {
  text-align: left;
  color: crimson;
}

.content-form-elems:focus {
    border: 2px gold solid;
    outline: none;
}

.content-form-action {
    background: gold;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    border: none;
    line-height: 2;
    width: 100%;
    font-size: large;
    padding: 5px;
}

.input {
    font-weight: 400;
    border-radius: 0;
    height: 44px;
    margin-bottom: 0;
    border: 2px solid #bdc4c9;
    font-size: 16px;
    padding: 5px 6px;
    width: 100%;
    margin: 2px 0 5px;
    min-height: 34px;
    line-height: normal;
    box-sizing: border-box;
    -webkit-appearance: none;
  }

  .icon-visible:before {
    content: "\e9ce";
}

  .password-toggle {
    position: absolute;
    right: 35px;
    font-size: 25px;
    font-weight: bolder;
    width: 30px;
    height: auto;
    color: darkkhaki;
    cursor: pointer;
}

#login-form > .password-toggle {
  top: 36%;
}

  /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5%;
    cursor: pointer;
    font-size: medium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff4b3;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ffe866;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ffd700;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 4px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .down-liner {
    text-align: center;
    margin-top: 5%;
  }


  @media only screen and (max-width: 600px) {
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* .action-content {
      max-width: 70%;
      left: 33%;
    } */
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* .action-content {
      max-width: 60%;
    } */
  }